/**
 * @file
 * Custom styling for CSC custom views module.
 */
 
.custom-footer-pager {
  overflow: hidden;
}
.item-list ul.pager {
  display: none;
}
.custom-footer-pager .custom-footer-pager-left, 
.custom-footer-pager .custom-footer-pager-right {
  width: auto;
  display: inline-block;
}
.custom-footer-pager .custom-footer-pager-left {
  float: left;
}
.custom-footer-pager .custom-footer-pager-right {
  float: right;
}
.custom-footer-pager .custom-footer-pager-right a {
  margin: 0 5px;
}
.custom-footer-pager .custom-footer-pager-right a span.icon {
  font-family: 'shanticon';
  font-size: 1em;
}
.custom-footer-pager  .custom-footer-pager-right #pager-input {
  width: 15px;
  margin: 0 5px;
}

.csc-custom-search-form.view-display-id-page .item-list {
  display: none;
}

#block-csc-views-custom-taxonomy-breadcrumb a {
  font-size: 12px;
}

#block-csc-views-custom-taxonomy-block ul,
#block-csc-views-custom-taxonomy-breadcrumb ul {
  padding: 0;
  list-style: none;
}

#block-csc-views-custom-taxonomy-breadcrumb ul {
  margin-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

#block-csc-views-custom-taxonomy-block ul li,
#block-csc-views-custom-taxonomy-breadcrumb ul li {
  overflow: hidden;
  padding-right: 0;
  display: block;
  width: 100%;
  padding: 3px 0;
}

#block-csc-views-custom-taxonomy-block ul li a,
#block-csc-views-custom-taxonomy-breadcrumb ul li a,
.breadcrumb-child-sub-top a {
  display: inline-block;
  float: right;
}

#block-csc-views-custom-taxonomy-breadcrumb ul li a,
.breadcrumb-child-sub-top a {
  width: 92%;
}

#block-csc-views-custom-taxonomy-block ul li a {
  width: 97%;
}

#block-csc-views-custom-taxonomy-block ul li a.expand-btn,
#block-csc-views-custom-taxonomy-breadcrumb ul li a.expand-btn,
.breadcrumb-child-sub-top a.expand-btn {
  float: left;
  display: inline-block;
  text-decoration: none;
  background: url(./images/dropdown-arrow-right.png) no-repeat;
  width: 11px;
  height: 20px;
  background-size: 100%;
  background-position: left 2px;
  text-indent: -999em;
}

#block-csc-views-custom-taxonomy-block ul li a.expand-btn.expanded,
#block-csc-views-custom-taxonomy-breadcrumb ul li a.expand-btn.expanded,
.breadcrumb-child-sub-top a.expand-btn.expanded {
  background: url(./images/dropdown-arrow-down.png) no-repeat;
  width: 14px;
  height: 20px;
  background-size: 100%;
  background-position: left 2px;
  text-indent: -999em;
}
#block-csc-views-custom-taxonomy-block,
#block-csc-views-custom-sort-filter,
#csc-custom-search-form {
  display: none;
}
#block-csc-views-custom-taxonomy-block ul li .item-list,
#block-csc-views-custom-taxonomy-breadcrumb ul li .item-list {
  clear: left;
}

#block-csc-views-custom-taxonomy-block ul li .item-list ul,
#block-csc-views-custom-taxonomy-breadcrumb ul li .item-list ul {
  margin: 0 0 0 10px;
}

.csc-custom-search-form .views-exposed-widget {
  display: block;
  width: 100%;
}

.csc-custom-search-form .views-submit-button,
.csc-custom-search-form .views-reset-button,
#edit-advanced-search-fieldset #edit-submit-biblio-search-api-dev,
#edit-advanced-search-fieldset #edit-reset--2 {
  width: 45%;
  display: inline-block;
}

.csc-custom-search-form .views-submit-button,
#edit-advanced-search-fieldset #edit-submit-biblio-search-api-dev {
  float: left;
}

.csc-custom-search-form .views-reset-button,
#edit-advanced-search-fieldset #edit-reset--2 {
  float: right;
}

.csc-custom-search-form #edit-biblio-year-wrapper,
.csc-custom-search-form #edit-biblio-year-1-wrapper {
  width: 240px;
  display: inline-block;
  float: left;
}

.csc-custom-search-form #edit-biblio-year-wrapper input {
  float: left;
}

.csc-custom-search-form #edit-biblio-year-wrapper span {
  float: right;
}

.csc-custom-search-form #edit-advanced-search-fieldset span {
  float: left;
  margin: 10px 3px;
}

.csc-custom-search-form #edit-biblio-year-1-wrapper {
  margin-top: 21px;
}

.view-filters {
  display: none;
}

.view-filters.filter-content-right .advanced-search-cta-container {
  width: 87%;
  margin-bottom: 5px;
}

.view-filters.filter-content-right #edit-search-api-views-fulltext-wrapper {
  padding: 0;
}

.view-filters.filter-content-right #edit-search-api-views-fulltext {
  width: 90%;
}

.view-filters.filter-content-right #edit-advanced-search-fieldset{
  margin-top: 216px;
}

.view-filters.filter-content-right select,
.view-filters.filter-content-right input {
  width: 93%;
}

.view-filters.filter-content-right input[type="radio"] {
  width: auto;
}

.view-filters.filter-content-right #edit-biblio-year-wrapper,
.view-filters.filter-content-right #edit-biblio-year-1-wrapper,
.views-exposed-form #edit-advanced-search-fieldset .form-item.form-item-advanced-search-start-year {
  width: 45%;
  display: inline-block;
  float: left;
}

.views-exposed-form #edit-advanced-search-fieldset .form-item.form-item-advanced-search-end-year  {
  float: right;
  display: inline-block;
  width: 45%;
}

.view-filters.filter-content-right #edit-biblio-year-wrapper input,
.view-filters.filter-content-right #edit-biblio-year-1-wrapper input {
  width: 70%
}

.view-content {
  display: none;
}

.page-csc-search .attachment-before,
.page-csc-search .attachment-after {
  clear: both;
}

#block-csc-views-custom-sort-filter {
  width: 880px;
  text-align: right;
}

#block-csc-views-custom-taxonomy-breadcrumb {
  overflow: hidden;
}

.library-dropdown,
.breadcrumb-child-container {
  display: block;
  width: 362px;
  -webkit-box-shadow: 7px 7px 10px -6px rgba(51,51,51,1);
  -moz-box-shadow: 7px 7px 10px -6px rgba(51,51,51,1);
  box-shadow: 7px 7px 10px -6px rgba(51,51,51,1);
  background: #f1f1f1;
  position: absolute;
}

.library-dropdown {
  margin-left: 40px;
  margin-top: 21px;
}

.library-dropdown .item-list {
  padding: 15px;
}

.library-dropdown .item-list .item-list {
  padding: 0;
}

.breadcrumb-child-container {
  margin-left: 20px;
  padding-bottom: 15px;
}

.breadcrumb-item {
  display: inline-block;
  width: auto;
  float: left;
}

.breadcrumb-child-container .breadcrumb-child-top,
.view-all-library-container {
  padding: 10px 15px 10px 15px;
  border-bottom: 1px solid #c3c3c3;
}

.breadcrumb-child-container .breadcrumb-child-sub-top {
  padding: 15px 15px 0 15px;
  overflow: hidden;
}

.breadcrumb-child-container .breadcrumb-parent {
  padding: 15px 15px 0px 15px;
}

.breadcrumb-child-container .breadcrumb-child {
  padding: 0 15px;
}

.breadcrumb-child-container .breadcrumb-child ul {
  margin-left: 10px;
}

.home-search-page {
  display: block;
  background: url(./images/home-icon.jpg) no-repeat;
  text-indent: -999em;
  width: 40px;
  height: 20px;
  background-size: 93%;
  background-position: 0 -10px;
}

.advanced-search-cta-container {
  float: left;
  display: inline-block;
  width: 180px;
  overflow: hidden;
  background: #f1f1f1 url(./images/dropdown-arrow-down.png) no-repeat;
  background-position: 95% 11px;
  background-size: 9px;
  margin-top: 1px;
  padding: 3px 10px;
  cursor: pointer;
}

#edit-advanced-search-fieldset {
  display: none;
  margin-top: 118px;
  width: 280px;
  -webkit-box-shadow: 7px 7px 10px -6px rgba(51,51,51,1);
  -moz-box-shadow: 7px 7px 10px -6px rgba(51,51,51,1);
  box-shadow: 7px 7px 10px -6px rgba(51,51,51,1);
  background: #f1f1f1;
  position: absolute;
  padding: 0 7px 20px 7px;
  border: none;
  margin-left: 0;
  border-radius: 0;
}

#edit-advanced-search-fieldset input[type="text"] {
  width: 90%;
  margin: 5px 0;
}

#edit-advanced-search-fieldset input[type="text"].readonly {
  background: #E8E8E8;
}

#edit-advanced-search-fieldset select {
  width: 93%;
}

.views-exposed-form  #edit-advanced-search-fieldset .form-item {
  margin: 5px 0;
}

.views-exposed-form  #edit-advanced-search-fieldset .form-item.form-item-biblio-publication-type {
  margin-bottom: 10px;
}

#edit-advanced-search-fieldset  input[type="radio"] {
  margin: 9px 0;
}

#edit-advanced-search-fieldset .fieldset-wrapper {
  margin-top: 0;
}

#advanced-search-start-year {
  width: 35%;
  margin-right: 5px;
}

#advanced-search-end-year {
  width: 35%;
  margin-left: 5px;
}

.views-widget-filter-title,
.views-widget-filter-search_text_biblio_author,
.views-widget-filter-search_text_biblio_abstract,
.views-widget-filter-search_text_biblio_publish_place,
.views-widget-filter-search_text_biblio_publisher,
.views-widget-filter-search_text_zotero_tags,
#edit-field-zotero-collections-wrapper {
  display: none !important; /* Override inline display style property */
}

.operation-option-container {
  padding: 15px 0;
}

.operation-option-container .form-item {
  width: 59px;
  display: inline-block;
  margin: 0 3px;
}

#edit-advanced-search-publication-year label.option {
  font-weight: normal;
}

#edit-condition-option {
  width: 59px;
}

#autocomplete {
  position: absolute;
  background: #F8F8F8;
  border: 1px solid #f1f1f1;
  padding: 5px;
  width: 400px;
}

.view-filters.filter-content-right .autocomplete-search-result-container {
  width: 295px;
  margin-left: 0;
}

#autocomplete a,
#autocomplete span {
  display: block;
}

#autocomplete a:hover {
  text-decoration: none;
}

#autocomplete .result-item-type {
  color: #3b3b3b;
  text-decoration: none;
  padding: 10px 0 10px 35px;
}

#autocomplete a {
  padding-left: 35px;
  text-transform: capitalize;
}

#autocomplete .result-item a {
  display: block;
  border-bottom: 1px dashed #000;
  padding: 10px 5px;
}

#edit-search-api-views-fulltext {
  width: 400px
}

#edit-search-api-views-fulltext-wrapper {
  display: inline-block;
  float: left;
  width: 49%;
}

.view-filters.filter-content-right #edit-search-api-views-fulltext-wrapper {
  width: 100%;
}

.views-exposed-widget.views-submit-button {
  display: inline-block;
  float: left;
  width: auto;
}

.view-filters.filter-content-right .views-exposed-widget.views-submit-button {
  width: 45%;
}

.result-item-type.title-group-label {
  background: url(./images/source-type-group-icon.jpg) no-repeat;
  background-position: 5px 5px;
}

.result-item-type.authors-group-label {
  background: url(./images/authors-group-icon.jpg) no-repeat;
  background-position: 5px 5px;
}

.result-item-type.publishers-group-label {
  background: url(./images/publishers-group-icon.jpg) no-repeat;
  background-position: 5px 5px;
}

.result-item-type.place_published-group-label {
  background: url(./images/place-published-group-icon.jpg) no-repeat;
  background-position: 5px 5px;
}

.result-item-type.tags-group-label {
  background: url(./images/tags-group-icon.jpg) no-repeat;
  background-position: 5px 5px;
}

.form-item.form-item-view-mode {
  display: none;
}

#block-csc-views-custom-taxonomy-breadcrumb span.collection-filtered-text {
  color: #fff;
  margin-left: 6px;
}