/**
 * @file
 * Custom styling for CSC custom views module.
 */
 
.custom-footer-pager {
  overflow: hidden;
}
.custom-footer-pager .custom-footer-pager-left, 
.custom-footer-pager .custom-footer-pager-right {
  width: auto;
  display: inline-block;
}
.custom-footer-pager .custom-footer-pager-left {
  float: left;
}
.custom-footer-pager .custom-footer-pager-right {
  float: right;
}
.custom-footer-pager .custom-footer-pager-right a {
  margin: 0 5px;
}
.custom-footer-pager  .custom-footer-pager-right #pager-input {
  width: 15px;
  margin: 0 5px;
}
.view-id-biblio_search_api_dev.view-display-id-page .item-list {
  display: none;
}

#block-csc-views-custom-taxonomy-block ul {
  padding: 0;
  list-style: none;
}

#block-csc-views-custom-taxonomy-block ul li {
  overflow: hidden;
  padding-right: 0;
  display: block;
  width: 100%;
  padding: 3px 0;
}

#block-csc-views-custom-taxonomy-block ul li a {
  width: 90%;
  display: inline-block;
  float: left;
}

#block-csc-views-custom-taxonomy-block ul li a.expand-btn {
  float: right;
  display: inline-block;
  width: auto;
  text-decoration: none;
}

#block-csc-views-custom-taxonomy-block ul li .item-list ul {
  margin: 0 0 0 5px;
}

.view-id-biblio_search_api_dev .views-exposed-widget {
  display: block;
  width: 100%;
}

.view-id-biblio_search_api_dev .views-submit-button,
.view-id-biblio_search_api_dev .views-reset-button {
  width: 45%;
  display: inline-block;
}

.view-id-biblio_search_api_dev .views-submit-button {
  float: left;
}

.view-id-biblio_search_api_dev .views-reset-button {
  float: right;
}

.view-id-biblio_search_api_dev #edit-biblio-year-wrapper,
.view-id-biblio_search_api_dev #edit-biblio-year-1-wrapper {
  width: 240px;
  display: inline-block;
  float: left;
}

.view-id-biblio_search_api_dev #edit-biblio-year-wrapper input {
  float: left;
}

.view-id-biblio_search_api_dev #edit-biblio-year-wrapper span {
  float: right;
}

.view-id-biblio_search_api_dev #edit-biblio-year-1-wrapper {
  margin-top: 21px;
}

.view-id-biblio_search_api_dev .filter-content-right {
  width: 300px;
  display: inline-block;
  float: right;
  overflow: hidden;
}

.view-id-biblio_search_api_dev .filter-content-right select,
.view-id-biblio_search_api_dev .filter-content-right input {
  width: 93%;
}

.view-id-biblio_search_api_dev .filter-content-right #edit-biblio-year-wrapper,
.view-id-biblio_search_api_dev .filter-content-right #edit-biblio-year-1-wrapper {
  width: 45%;
  display: inline-block;
  float: left;
}

.view-id-biblio_search_api_dev .filter-content-right #edit-biblio-year-wrapper input,
.view-id-biblio_search_api_dev .filter-content-right #edit-biblio-year-1-wrapper input {
  width: 70%
}

.view-id-biblio_search_api_dev .result-content-left {
  width: 880px;
  display: inline-block;
  float: left;
}

.view-id-biblio_search_api_dev .attachment.attachment-after {
  clear: both;
}

#block-csc-views-custom-sort-filter {
  width: 880px;
  text-align: right;
}