.custom-footer-pager {
  overflow: hidden;
}
.custom-footer-pager .custom-footer-pager-left, 
.custom-footer-pager .custom-footer-pager-right {
  width: auto;
  display: inline-block;
}
.custom-footer-pager .custom-footer-pager-left {
  float: left;
}
.custom-footer-pager .custom-footer-pager-right {
  float: right;
}
.custom-footer-pager .custom-footer-pager-right a {
  margin: 0 5px;
}
.custom-footer-pager  .custom-footer-pager-right #pager-input {
  width: 15px;
  margin: 0 5px;
}
.view-id-biblio_search_api_dev.view-display-id-page .item-list {
  display: none;
}

#block-csc-views-custom-taxonomy-block ul {
  padding: 0;
  list-style: none;
}

#block-csc-views-custom-taxonomy-block ul li {
  overflow: hidden;
  padding-right: 0;
  display: block;
  width: 100%;
  padding: 3px 0;
}

#block-csc-views-custom-taxonomy-block ul li a {
  width: 90%;
  display: inline-block;
  float: left;
}

#block-csc-views-custom-taxonomy-block ul li a.expand-btn {
  float: right;
  display: inline-block;
  width: auto;
  text-decoration: none;
}

#block-csc-views-custom-taxonomy-block ul li .item-list ul {
  margin: 0 0 0 5px;
}