.titlearea.banner {
  background: #008a96 !important;
}
fieldset {
  border: none;
}
/* custom theme colors */
.basebg {
  background-color: #32ccca;
}
.basecolor {
  color: #32ccca;
}
ul.ss-full-tabs>li.active>a:after {
  border-color: #32ccca;
  border-top-color: #32ccca;
}
i.thumbtype {
  background-color: rgba(50,204,202, 0.8);
}
.breadwrap ol li .icon {
  background:#32ccca;
}
.ss-full-tabs.nav-tabs>li.active,
.ss-full-tabs.nav-tabs>li.active:hover {
  background:#32ccca;
}
.shanticon-twitter,
.shanticon-facebook,
.shanticon-email,
.shanticon-google {
  color:#32ccca;
}
