#search-flyout.extruder.right.isOpened .extruder-content {
  border-right-width: 13px;
}

.page-sources-search .views-widget-sort-by,
.page-sources-search .views-widget-sort-order {
  display: none;
}

.content-section a.toggle-filter-btn-open {
  margin-top: 12px;
  font-size: 1.375em;
  background: #fff;
  padding: 15px 25px;
  display: none;
}

#date-range-slider,
#date-range-slider-dropdown {
  margin-top: 35px;
  height: 10px;
  border-radius: 0;

}

#date-range-slider {
  width: 275px;
  margin-left: 3px;
}

#date-range-slider-dropdown {
  width: 92%;
  position: relative;
  margin-left: 8px;
  background: none;
}
#date-range-slider-dropdown-container {
  background: url(../images/date_range_bg.png) no-repeat;
  background-size: 100%;
  height: 10px;
  margin-top: 35px;
  position: relative;
  clear: both;
}

#date-range-slider .ui-slider-range,
#date-range-slider-dropdown .ui-slider-range {
  background: none;
}

#date-range-slider .ui-slider-handle,
#date-range-slider-dropdown .ui-slider-handle {
  margin-top: 1px;
  background: #dbdada;
  border: none;
  width: 5px;
  height: 20px;
  margin-left: -0.1em;
  cursor: pointer;
  top: -9px;
  position: absolute;
  z-index: 2;
}

#date-range-slider .ui-slider-range .start-year,
#date-range-slider .ui-slider-range .end-year,
#date-range-slider-dropdown .ui-slider-range .start-year,
#date-range-slider-dropdown .ui-slider-range .end-year {
  position: absolute;
  display: inline-block;
  margin-top: -37px;
  background: url(../images/bubble-tip.png) no-repeat;
  background-position: bottom center;
  padding-bottom: 4px
}

#date-range-slider .ui-slider-range .start-year-inner,
#date-range-slider .ui-slider-range .end-year-inner,
#date-range-slider-dropdown .ui-slider-range .start-year-inner,
#date-range-slider-dropdown .ui-slider-range .end-year-inner {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  padding: 6px 12px;
  background: #333;
}

#date-range-slider .ui-slider-range .start-year,
#date-range-slider-dropdown  .ui-slider-range .start-year {
  left: 0;
  margin-left: -23px;

}

#date-range-slider .ui-slider-range .end-year,
#date-range-slider-dropdown .ui-slider-range .end-year {
  right: 0;
  margin-right: -24px;
}

#edit-advanced-search-publication-year .form-type-radio {
  display: inline-block;
  float: left;
  margin-bottom: 20px;
}

#advanced-search-start-year,
#advanced-search-end-year {
  width: 35%;
  margin-right: 5px;
}

.publication-label-text {
  margin-right: 10px;
}

.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0;
}

#sources-views-advanced-search-form .form-item-advanced-search-start-year,
#sources-views-advanced-search-form .form-item-advanced-search-end-year {
  display: none;
}

#autocomplete ul,
#autocomplete ul li,
#autocomplete ul li a {
  background: #fff;
  width: 100%;
  display: block;
  color: #333;
}

#autocomplete li {
  white-space: normal;
  margin: 0;
}

#autocomplete p {
  margin: 0;
  width: 100%;
  display: block;
}

#autocomplete .result-item-type {
  font-weight: bold;
  text-decoration: none;
  padding: 10px 0 10px 35px;
}

#autocomplete span {
  padding: 3px 15px;
  margin-bottom: 10px;
  cursor: pointer;
  display: block;
}

#autocomplete a {
  padding-left: 35px;
  text-transform: capitalize;
}

#autocomplete li.selected {
  background-color: #fff;
}

#autocomplete  span.result-item-type {
  cursor: auto;
}

#autocomplete li.selected span.result-item-type {
  background-color: #fff;
}

#autocomplete  span.result-item-type:hover {
  color: #333;
  text-decoration: none;
}

#autocomplete span:hover,
#autocomplete li.selected span {
  color: #333;
  background-color: #f1f1f1;
}

#autocomplete .result-item a {
  display: block;
  padding: 10px 5px;
}

a.clear-search-text {
  position: absolute;
  margin-top: 15px;
  right: -19px;
  text-indent: -9999em;
  width: 12px;
  height: 12px;
}

a.open-search-field {
  text-indent: -9999em;
  width: 40px;
  height: 40px;
  display: block;
  float: right;
}

.views-field-biblio-place-published,
.views-field-biblio-abst-e,
.views-field-field-zotero-tags {
  display: none;
}

.sources-custom-search-form .form-type-select .holder {
  font-size: 0.813em;
}
.page-sources-search-biblio .views-label {
  font-weight: bold;
  float: left;
  margin-right: 5px;
}
.page-sources-search-biblio .views-field {
  margin: 10px 0;
}

#sources-views-advanced-search-form {
  border: none;
}

.selected-filter,
.advanced-search-filter-btn {
  padding: 0 20px;
}

.selected-filter {
  margin: 15px 0;
}

#edit-advanced-search-api-views-fulltext {
  border-radius: 25px;
}

#sources-views-advanced-search-form
#sources-views-advanced-search-form a {
  color: #158EA6;
}

#sources-views-advanced-search-form a.advanced-search-filter-btn {
  display: block;
  text-align: right;
  margin-bottom: 15px;
  text-decoration: none;
}

#sources-views-advanced-search-form #edit-advanced-option {
  padding: 5px 20px 0 20px;
}

#edit-advanced-option input.form-autocomplete {
  background-image: none;
}

#edit-advanced-option .bootstrap-select {
  background: none;
  border: none;
  box-shadow: none;
}

#sources-views-advanced-search-form #edit-submit {
  margin: 10px 0;
  width: 45%;
  display: inline-block;
  float: left;
}

#sources-views-advanced-search-form .form-submit {
  width: 45%;
  float: right;
  display: inline-block;
  margin: 10px 0;
}

#sources-views-advanced-search-form .form-item.form-item-title {
  margin-top: 10px;
}

#sources-views-advanced-search-form .radio-inline {
  min-width: 0;
  width: auto;
}

.view-filters.filter-content-right .autocomplete-search-result-container {
  width: 295px;
  margin-left: 0;
}

.form-item.form-item-view-mode {
  display: none;
}

.form-item.form-type-select.form-item-condition-option {
  margin: 0;
}

#search-flyout .view-section .nav-tabs > li {
  width: 48%;
}

#search-flyout .view-section .nav-tabs > li.active > a {
  color: #008a96;
}

#search-flyout .view-section .nav-tabs > li.active > a {
  border-top-color: #008a96 !important;
}

.searchreset {
  display: none;
}
